body {
    color: #5F6368;
}
img {
    width: 100%;
}
p {
    line-height: 1.5em;
    margin-bottom: 10px;
}
a {
    text-decoration: none;
    color: #80BDAB;
    font-weight: bold;
}
table {
    width: 100%;
    text-align: left;
}
th,
td {
    padding: 5px 10px;
}
th {
    color: #fff;
    background-color: #95A5A6;
}
td {
    font-size: 0.8em;
    border-bottom: 0.7px solid #e0e0e0;
}
fieldset {
    display: block;
    border: none;
    border-top: 1px solid #e0e0e0;
    font-size: 1em;
    padding: 0;
}
fieldset .err {
    font-weight: bold;
    color: #FF6C81;
    margin-left: 20px;
}
fieldset p {
    display: flex;
    flex-direction: row;
    align-items: center;
}
fieldset p label {
    width: 100px;
}
legend {
    font-weight: 500;
    padding-right: 10px;
    margin: 10px 0;
    color: #5F6368;

}
input, select, textarea {
    padding: 5px 10px;
    width: 300px;
    height: 50px;
    margin: 0;
    background: transparent;
    border: 1px solid #5F6368;
    box-sizing: border-box;
}
input:focus, select:focus, textarea:focus {
    outline: none;
    box-shadow: 0 0 7px #5F6368;
}
textarea {
    height: 100px;
}

button {
    font-weight: bold;
    display: inline-block;
    border: none;
    padding: 10px 30px;
    outline: none;
    letter-spacing: 0.25px;
    text-decoration: none;
    color: #FFF;
    background-color: #95A5A6;
    transition: 0.3s;
}
button:hover {
    background-color: #829597;
}

/* radio button */
input[type="radio"] {
    width: 100px;
    height: 30px;
}
.radio-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
  height: 50px;
  padding-left: 30px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  transition: 0.3s;
}
.radio-item input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}
.checkmark {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  height: 20px;
  width: 20px;
  background-color: #eee;
  border-radius: 50%;
}
.radio-item:hover input ~ .checkmark {
  background-color: #ccc;
}
.radio-item input:checked ~ .checkmark {
  background-color: #95A5A6;
}
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}
.radio-item input:checked ~ .checkmark:after {
  display: block;
}
.radio-item .checkmark:after {
 	top: 6px;
	left: 6px;
	width: 8px;
	height: 8px;
	border-radius: 50%;
	background: white;
}
/* radio button */

.header-menu {
    display: flex;
    flex-direction: row;

}
.separator {
    font-weight: bold;
    padding: 0 10px;
}
.auth-box {
    display: flex;
    flex-direction: row;
}
.auth-box .username {
    font-weight: bold;
}
.auth-box .role {
    margin-right: 10px;
}
.logout {
    font-weight: bold;
    color: #80BDAB;
    cursor: pointer;
    padding: 0;
    width: auto;
    height: auto;
    border: none;
}

.message {
    display:inline-block;
    font-weight: bold;
    color: #FF6C81;
    margin: 10px 0;
}
.button-add {
    display:inline-block;
    padding: 20px 0;
}
.book-status {
    width: 18px;
    height: 18px;
    padding: 10px;
}
.select-book {
    width: 20px;
    height: 20px;
}
.disabled {
    background-color: #bdc3c7;
    cursor: not-allowed;
}