<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>spring-boot-crud | customer</title>

    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="author" content="Happy Indra Wijaya"/>

    <link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}"/>
</head>
<body>
    <div th:replace="fragments/general :: header(true)"/>
    <h2>Customer</h2>

    <form action="#"
          th:action="@{/customer}"
          th:object="${customer}"
          method="POST">
        <fieldset id="customer-fom">
            <legend th:text="${editMode} ? 'Edit' : 'Add'"></legend>

            <input type="hidden" th:field="*{id}"/>
            <p>
                <label>Name</label>
                <input th:field="*{name}" type="text" placeholder="e.g John Wick">
            </p>
            <p>
                <label>Gender</label>
                <span th:each="g : ${T(com.hiwijaya.crud.util.Gender).values()}">
                    <label class="radio-item" th:inline="text">
                        [[${g.desc}]]
                        <input type="radio" name="gender"
                               th:value="${g}"
                               th:field="*{gender}">
                        <span class="checkmark"></span>
                    </label>
                </span>
            </p>
        </fieldset>
        <button type="submit">Save</button>
    </form>
</body>
</html>