<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>spring-boot-crud | customer</title>

    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="author" content="Happy Indra Wijaya"/>

    <link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}"/>
</head>
<body>
    <div th:replace="fragments/general :: header(true)"/>
    <h2>Customer</h2>

    <div class="data-box" th:switch="${#lists.size(customers)}">
        <span th:case="0">There is no customer yet. <a href="/customer/add">Create one!</a></span>
        <div th:case="*">
            <table>
                <tr>
                    <th>No</th>
                    <th>Name</th>
                    <th>Gender</th>
                    <th>Edit</th>
                    <th>Delete</th>
                </tr>
                <tr th:each="customer, i : ${customers}">
                    <td th:text="${i.count}"></td>
                    <td th:text="${customer.name}"></td>
                    <td th:text="${customer.gender}"></td>
                    <td><a th:href="@{/customer/edit/{id}(id=${customer.id})}">Edit</a></td>
                    <td><a th:href="@{/delete/{id}(id=${customer.id})}">Delete</a></td>
                </tr>
            </table>
        </div>
    </div>
    <a href="/customer/add">Add Customer</a>
</body>
</html>